@model GuildCars.UI.Models.UserAddViewModel

@{
    ViewBag.Title = "AddUser";
}

<h2>Add User</h2>

@using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddUser" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.FirstName, "First Name", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-12">
                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.LastName, "Last Name", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-12">
                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-12">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.DropDownList("UserRole", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Password, "Password", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-12">
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-12">
                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

